<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form action="/user/<%=data.id%>?_method=PATCH" method="POST">
        <input type="text"  name="username" value="<%=data.username%>" >
        <input type="password" name="password" placeholder="Enter the correct password">
        <button>Save Changes</button>
    </form>

</body>
</html>